[Unit]
Description=Prometheus daemon
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/prometheus \
  --config.file=__FINALPATH__/prometheus.yml --web.enable-admin-api \
  --web.external-url=__PATH__/ \
  --web.route-prefix=__PATH__/ \
  --web.listen-address=localhost:__PORT__
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
